
.chatroom{
	width: 98.5%;
	max-width: 900px;
	height:500px;
	max-height: 550px;
	transition: height 0.3s; 
	padding: 0;
	border-radius: 10px 10px 0px 0px;
	background-color: rgb(25,21,40);
	display: grid;
	grid-template-areas:'chathead chathead chathead chathead chathead chathead chathead chathead chathead chathead '
	'contacts contacts contacts chat chat chat chat chat chat chat '
	'contacts contacts contacts chat chat chat chat chat chat chat '
	'contacts contacts contacts chat chat chat chat chat chat chat '
	'contacts contacts contacts chat chat chat chat chat chat chat '
	'contacts contacts contacts chat chat chat chat chat chat chat '
	'contacts contacts contacts chat chat chat chat chat chat chat ';
	grid-gap: 10px;
}
.chathead{
	height: 40px;
	grid-area: chathead;
	background-color: rgb(17,12,32);
	border-radius: 10px 10px 0px 0px;
}
.contacts{
	position: relative;
	grid-area: contacts; 
	display: grid;
	grid-template-rows: 10% 90%;
}
.chat{
	position: relative;
	bottom: 0;
	grid-area: chat;
	display: block;
	margin-left: auto;
	padding: 5px;
	display: grid;
	grid-template-rows: 90% 10%;
	max-width: 750px;
}
.chatlogs {
	position: relative;
	padding: 10px;
	width: auto;
	height: 100%;
	max-width: 750px;
	overflow-x:hidden;
	overflow-y:scroll;
	background-color: white;
}
.chatM {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
	word-wrap: break-word;
}

.chatM .chat-message {
	width: auto;
	max-width: 90%;
	padding: 5px;
	margin: 5px 5px 0;
	border-radius: 10px 10px 10px;
	color: #fff;
	font-size: 1em;
}
	
.friend .chat-message {
	background: #1adda4;
	float: left;
	border-radius: 10px;
}

.self .chat-message {
	margin-left: auto;
	background: #1ddced;
	border-radius: 10px;
}
.users{
	min-width: 150px;
	width: 100%;
	overflow-x:hidden;
	overflow-y:scroll;
	height: 400px;
}
ul {
	list-style: none;
}
.user-list li {
	margin-bottom: 10px;
	font-size: 16px;
	display: flex;
	align-items: center;
}
.entrada{
	display: flex;
	bottom: 0;
	align-items: flex-start;
	resize: none;
}
.msg{
	width: 90%;
	height: 100%;
}
.minimizar{
	height: 0px;
}
	