<div class="chatroom container fixed-bottom " [ngClass]="{minimizar: this.compComu.openClose}">
		<div class="chathead" (click)="minimizar(ch)"><p class="text-center mt-2">ID - {{idpeer}}</p> </div>
		<div class="contacts"  [hidden]="this.compComu.openClose" >
		  <div class="search">
			 <div class="form-group form-inline" style="margin: 0px; width: 100%">
				<input class="form-control" style="width: 100%;" type="text" name="filterUsers" [(ngModel)]="filterUsers"/>
			 </div>
		  </div>
		  <div class="users ">
		   <div class="user-list">
			 <div *ngFor="let user of datapeer.user.contacts | filter:filterUsers" >
				 <div class="user">
					<div class="userbox" (click)="showChat(user.username)">
						{{user.name}} {{user.lastname}}
					</div>
				</div>
				<!--
				 <ngb-highlight [result]="user.name" [term]="filter.value" class="m-2"></ngb-highlight>
				 <ngb-highlight [result]="user.lastname" [term]="filter.value" ></ngb-highlight>-->
				</div>
			</div>
		  </div> 
		</div>
		<div class="chat"[hidden]="this.compComu.openClose" >
			<div class=" chatlogs " [hidden]="this.compComu.openClose" >
				<div *ngFor="let newM of this.peerconnect.chat">
					<div class="chatM" [ngClass]="{'self': newM.quien=='emisor','friend': newM.quien=='receptor'}" >
						<p class="chat-message">{{newM.msgs}}</p>
					</div> 
				</div>
			</div>
		 	<form class="entrada" [hidden]="this.hiddenchat">
				<input type="text" class="form-control msg" placeholder="Mensaje" name="mensaje" [(ngModel)]="msg">
				<button type="button" class="btn btn-success" style="height: 100%; width: 50px;" [disabled]="!msg" (click)="enviar()">
					<mat-icon style="font-size: 30px">send</mat-icon>
				</button>
			</form>
		</div>
	  </div> 