<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" >
      <h4 class="modal-title" id="modal-basic-title">Agregar estudiante a la tabla</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ul *ngFor="let user of this.dataPeer.user.contacts">
            <li class="contact" (click)="addStudent(user)">{{user.name}} {{user.lastname}}</li>
        </ul>
    </div>
   
  </ng-template>  
<div class="container">
    <button mat-raised-button 
        (click)="openModal(content)"
        > Agregar Estudiante
    </button>
<div>
    <!---
    <mat-form-field>
        <mat-label>Tipo de Calificación</mat-label>
        <mat-select (selectionChange)="changeOptions($event)">
            <mat-option *ngFor="let type of typeNote" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>-->
    <mat-form-field  class="filtro">
        <input matInput type="text" class="filtro" name="filterNotes" [(ngModel)]="filterNotes">
        <button mat-icon-button matSuffix *ngIf="filterNotes !==''" class="filtro" (click)="filterNotes=''">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
</div>
<form [formGroup]="form" *ngIf="showForm==true">
    <div formArrayName="notes" class=" table-notes" >
        <mat-table #table [dataSource]="notes.controls | filterTable:filterNotes" matSort (matSortChange)="sortData($event)" >
            <ng-container matColumnDef="name" sticky>
                <mat-header-cell mat-sort-header='name' *matHeaderCellDef class="sort-header-name"> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element" style="word-wrap: break-word;" > {{element.get('name').value}}. </mat-cell>
            </ng-container>

            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i=index">
                <mat-header-cell *matHeaderCellDef mat-sort-header='{{column}}' class="sort-header"  style="word-wrap: break-word;"> {{column}} </mat-header-cell> 
                <mat-cell *matCellDef="let element" class="cell-input" [formGroup]="element">
                    <mat-form-field class="table-input"> 
                        <input  matInput class="mat-input" formControlName='{{column}}'>
                    </mat-form-field>
                    
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="star" stickyEnd>
                <mat-header-cell *matHeaderCellDef style="justify-content: center;">Eliminar</mat-header-cell>>
                <mat-cell *matCellDef="let element" class="d-flex align-items-center flex-column">
                    <button mat-icon-button color="warn" (click)="deleteStudient(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        </mat-table> 
    </div>   
</form>
<button mat-raised-button 
    *ngIf="form.value.notes.length !==0"
    color="accent"
    class="saveNotesButton fixed-bottom"
    (click)="saveNotes()"
        > Guardar
    </button>
</div>
