/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
.mat-sort-header-arrow{
  margin: 0px;
}
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import '../node_modules/bootswatch/dist/flatly/bootstrap.css';
@import '../node_modules/flatpickr/dist/flatpickr.css';
@import '../node_modules/ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "./assets/font-icon/material-icon.css"
              