
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-gap: 5px;
    justify-content: center;
}
.item{
    border-radius: 5px;
    z-index: 0;
}
.example-card {
    max-width: 400px;
  }
  
.example-header-image {
  background-size: cover;
}

  