<div class="d-flex align-items-center flex-column">
  <form [formGroup]= "myForm" class="form-container mt-4 mb-4">
      <mat-form-field >
        <input matInput placeholder="Nombre" formControlName="name">
        <mat-error *ngIf="myForm.controls['name'].errors?.required && myForm.controls['name'].touched">
            Nombre Requerido.
          </mat-error>
          <mat-error *ngIf="myForm.controls['name'].errors?.minlength && myForm.controls['name'].touched">
            El nombre debe ser mayor de 3 letras.
          </mat-error>
          <mat-error *ngIf="myForm.controls['name'].errors?.maxlength && myForm.controls['name'].touched">
            El nombre debe ser menor de 50 letras.
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Apellido" formControlName="lastname">
        <mat-error *ngIf="myForm.controls['lastname'].errors?.required && myForm.controls['lastname'].touched">
            Apellido Requerido.
          </mat-error>
          <mat-error *ngIf="myForm.controls['lastname'].errors?.minlength && myForm.controls['lastname'].touched">
            El apellido debe ser mayor de 3 letras.
          </mat-error>
          <mat-error *ngIf="myForm.controls['lastname'].errors?.maxlength && myForm.controls['lastname'].touched">
            El apellido debe ser menor de 50 letras.
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Usuario" formControlName="username">
        <mat-error *ngIf="myForm.controls['username'].errors?.required && myForm.controls['username'].touched">
            Usuario Requerido.
          </mat-error>
          <mat-error *ngIf="myForm.controls['username'].errors?.minlength && myForm.controls['username'].touched">
            El usuario debe ser mayor de 3 letras.
          </mat-error>
          <mat-error *ngIf="myForm.controls['username'].errors?.maxlength && myForm.controls['username'].touched">
            El usuario debe ser menor de 50 letras.
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Correo" formControlName="email" required>
        <mat-error *ngIf="myForm.controls['email'].errors?.required && myForm.controls['email'].touched">
          Correo Requerido.
        </mat-error>
        <mat-error *ngIf="myForm.controls['email'].errors?.email && myForm.controls['email'].touched">
          Por favor ingrese un correo valido.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Introduzca su contraseña" formControlName="pwd" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="myForm.controls['pwd'].errors?.required && myForm.controls['pwd'].touched">
          Contraseña Requerida.
        </mat-error>
      </mat-form-field>
    
      <mat-checkbox formControlName="terms" color="accent">Aceptar condiciones de uso.</mat-checkbox>
      <mat-error *ngIf="myForm.controls['terms'].errors?.required && myForm.controls['terms'].touched">
        Campo Requerido.
      </mat-error>
  </form>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="myForm.invalid">Guardar</button>
    <p>Ya tienes una cuenta?</p>
    <button mat-raised-button routerLink="/login" color="warn" >Iniciar Sesion</button>
    <button mat-raised-button color="warn" (click)="delete()" >Eliminar datos</button>
  
</div>